.about-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3rem;
  color: #110976;
  letter-spacing: 1.5px;
}

.about-lead {
  max-width: 800px;
  margin: auto;
  font-size: 2rem;
  color: #1a1a1a;
  font-family: "Kalam", cursive;
  font-weight: 500;
}

.about-section {
  width: 100%;
}

.bg-blue {
  background-color: #110976;
  width: 100vw; /* זה הפתרון: מרחיב את הרקע לרוחב כל המסך */
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}


.bg-white {
  background-color: #ffffff;
}

.section-heading {
  font-size: 1.75rem;
  font-weight: bold;
  color: #110976;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1.2px;

}

.text-orange {
  color: #fbb76a;
  letter-spacing: 1.2px;
}

.section-text {
  font-size: 1.5rem;
  color: #ffffff;
}

.black-text {
    color: #000000; 
}

.testimonial {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #ffffff;
  font-family: "Kalam", cursive;
}

.author {
  display: block;
  margin-top: 0.5rem;
  font-style: normal;
  font-weight: 500;
  color: #ffbd66;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}
