.friends-section {
   background-color: #d1dcf8;
  padding: 24px 40px 40px;
  margin-bottom: 40px;
  border-radius: 12px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.friends-grid-container {
  max-height: 600px; /* מאפשר 2 שורות בגובה נעים */
  overflow-y: auto;
  overflow-x: hidden;
  padding: 12px 6px 4px 0;
  margin-bottom: 50px;
  scroll-padding: 12px;
}

.friends-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 70px;
  justify-items: center;
  padding: 0 24px;
}

.friend-grid-item {
  width: 160px;
}

.friends-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.friends-button {
  color: #000000;
  background-color: #fbb76a;
  border: none;
  padding: 10px 18px;
  border-radius: 13px;
  font-weight: 550;
  cursor: pointer;
  transition: background-color 0.3s;
}

.friends-button:hover {
  background-color: #ffa239;
  color: #ffffff;
}

/* ✅ עדכון ריווח כותרת */
.leadconnections-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 4px; /* היה 12px - צמצמנו */
  color: #110976;
  text-align: center;
  letter-spacing: 1.5px;
}

/* ✅ אפשרות לריווח משפט מתחת לכותרת */
.leadconnections-subtitle {
  margin-bottom: 12px;
  font-size: 1.1rem;
  text-align: center;
}
