.friends-map-wrapper {
  background-color: #d1dcf8;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  height: 52.5%
}

.friends-map-container {
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 10px;
}

.emoji-marker {
  font-size: 32px;
  text-align: center;
  line-height: 1;
}

/*  驻转专 注 砖 驻转专 驻 砖驻注 注 -modal */
.leaflet-control{
  z-index: 500 !important;
}
