.friends-section {
  background-color: #d1dcf8;
  padding: 24px 40px;
  border-radius: 12px;
  box-sizing: border-box;
  width: 100%;  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.friends-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.friend-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px; /* במקום 140px */
  padding: 16px;
  background-color: #ffffff;
  border-radius: 16px;
  margin: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.profile-pic-container {
  position: relative;
  width: 90px;
  height: 90px;
  margin-top: -20px; /* מרים את התמונה */
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}


.profile-circle {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

.fire-emoji {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 1.5rem;
}

.friend-name {
  margin-top: 10px;
  font-weight: bold;
}

.streak-text {
  font-size: 0.9rem;
  color: #333;
}

.friends-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.friends-button {
  background-color: #ffa239;
  color: #ffffff;
  border: none;
  padding: 10px 18px;
  border-radius: 13px;
  font-weight: 550;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.friends-button:hover {
  color: #000000;
  background-color: #fbb76a;
}

.leadconnections-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  font-weight: bold 700;
  margin-bottom: 12px;
  color: #110976;
  text-align: center;
  letter-spacing: 1.5px;
}
